src/test/resources/tcp-send-and-receive-pojo-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">

    <import file="protocols.xml"/>

    <sockets:request-config name="tcp-requester">
        <sockets:tcp-requester-connection host="localhost" port="${port}" protocol="${protocol}" />
    </sockets:request-config>

    <sockets:listener-config name="tcp-listener">
        <sockets:tcp-listener-connection host="localhost" port="${port}" protocol="${protocol}"/>
    </sockets:listener-config>

    <flow name="tcp-send-and-receive">
        <sockets:send-and-receive config-ref="tcp-requester"/>
        <object-to-byte-array-transformer />
    </flow>

    <flow name="tcp-listen-and-modify-pojo">
        <sockets:listener config-ref="tcp-listener"/>
        <byte-array-to-object-transformer returnClass="org.mule.extension.socket.TestPojo"/>
        
        <set-payload value="#[java!org::mule::extension::socket::SocketExtensionTestCase::setAge(payload, 7)]"/>
        <set-payload value="#[java!org::mule::extension::socket::SocketExtensionTestCase::setName(payload, 'Ronaldo')]"/>

    </flow>
</mule>
