src/test/munit/reconnection/send-and-receive-reconnection-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:connection-test="http://www.mulesoft.org/schema/mule/connection-test"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
		http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
		http://www.mulesoft.org/schema/mule/connection-test http://www.mulesoft.org/schema/mule/connection-test/current/mule-connection-test.xsd">

    <munit:config name="send-and-receive-reconnection-test-case.xml"/>

    <flow name="mainFlow">
        <foreach collection="#[1 to 3]">
            <scatter-gather>
                <route>
                    <logger level="INFO" message="-- STARTS ITERATION  #[vars.counter] --"/>

                    <logger message="#[import * from dw::Runtime --- if (vars.counter == 2) 'waited 900' wait 925 else 'waited nothing 1' wait 0]" level="INFO"/>

                    <sockets:send-and-receive config-ref="Sockets_Request_reconnect_config">
                        <sockets:content><![CDATA[#["DATA " ++ vars.counter ++ "\n"]]]></sockets:content>
                    </sockets:send-and-receive>

                    <logger level="INFO" message="-- ITERATION  #[vars.counter] FINISHED --"/>

                    <munit-tools:queue/>
                </route>
                <route>
                    <choice>
                        <when expression="#[vars.counter == 2]">
                            <logger message="#[import * from dw::Runtime --- if (vars.counter == 2) 'waited 1000' wait 1000 else 'waited nothing 2' wait 0]" level="INFO"/>

                            <connection-test:disconnect-proxy proxyPort="${proxy.port}"/>

                            <munit-tools:sleep time="500"/>

                            <connection-test:reconnect-proxy proxyPort="${proxy.port}"/>

                            <munit-tools:sleep time="500"/>
                        </when>
                        <otherwise>
                            <logger message="-- NOT MY TIME --" level="INFO"/>
                        </otherwise>
                    </choice>
                </route>
            </scatter-gather>
        </foreach>
    </flow>

    <munit:before-test name="before-suite-reconnection">
        <connection-test:define-proxy-server-port serverPort="${toxiproxy.port}"/>

        <connection-test:create-proxy realPort="8085" realHost="server" proxyPort="${proxy.port}"/>
    </munit:before-test>

    <munit:test name="sendAndReceiveReconnectionTest">
        <munit:execution>
            <flow-ref name="mainFlow"/>
        </munit:execution>

        <munit:validation>
            <foreach collection="#[1 to 3]">
                <munit-tools:dequeue/>

                <logger level="INFO" message="DEQUEUING. CONTENT IS: "/>
                <logger level="INFO" message="#[payload}"/>

                <munit-tools:assert-equals actual="#[payload.^raw as String]" expected='#["-- ALL GOOD DATA " ++ vars.counter ++ " --"]'/>
            </foreach>
        </munit:validation>
    </munit:test>

</mule>