src/test/munit/socket-base-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">

    <munit:config name="tcp-protocol-test-suite.xml" minMuleVersion="4.3.0"/>


    <sockets:request-config name="tcp-custom-protocol-requester" >
        <sockets:tcp-requester-connection host="127.0.0.1" port="${sockets.listenPortCustom2}" failOnUnresolvedHost="true" sendTcpNoDelay="true">
            <sockets:protocol>
                <sockets:custom-protocol class="org.mule.extension.socket.protocol.CustomTestTcpProtocol"/>
            </sockets:protocol>
        </sockets:tcp-requester-connection>
    </sockets:request-config>

    <sockets:listener-config name="tcp-custom-protocol-listener">
        <sockets:tcp-listener-connection host="127.0.0.1" port="${sockets.listenPortCustom2}">
            <sockets:protocol>
                <sockets:custom-protocol class="org.mule.extension.socket.protocol.CustomTestTcpProtocol"/>
            </sockets:protocol>
        </sockets:tcp-listener-connection>
    </sockets:listener-config>

    <flow name="tcp-custom-protocol-listen">
        <sockets:listener config-ref="tcp-custom-protocol-listener"/>
        <logger message="#[payload]" level="INFO"/>
        <munit-tools:store key='message'/>
    </flow>

    <munit:test name="tcp-custom-protocol-test">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="tcp-custom-protocol-listen"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <sockets:send config-ref="tcp-custom-protocol-requester">
                <sockets:content><![CDATA['Hello world!']]></sockets:content>
            </sockets:send>
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="60" millisBetweenRetries="2000">
                <munit-tools:retrieve key='message'/>
                <logger message="#[payload]" level="INFO"/>
                <munit-tools:assert-that
                        expression="#[payload.^raw as String]"
                        is="#[MunitTools::containsString('Hello world!')]"
                        message="Message not received"/>
            </until-successful>
        </munit:validation>
    </munit:test>
</mule>